
@font-face {
  font-family: paintball;
  src: url(Paintball_Beta_4a.otf);
}
	<style>
      @font-face { font-family: paintball; src: url('Paintball_Beta_4a.otf'); } 
      h1, p, li, a {
         font-family: Paintball
      }

.column {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto;
  max-width: 600px;
  opacity: 0;
  -webkit-transform: translateY(4em) rotateZ(-5deg);
          transform: translateY(4em) rotateZ(-5deg);
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  width: 90%;

  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
}

header {
  opacity: 0;
  -webkit-transition: opacity .5s .25s ease-out;
  transition: opacity .5s .25s ease-out;
}

header.is-visible {
  opacity: 1;
}

.main-photo {
  -webkit-transform: scale(.8);
          transform: scale(.8);
}

.heading {
  -webkit-transform: translate(-50%, calc(-50% + 1em));
          transform: translate(-50%, calc(-50% + 1em));
}

.is-visible .main-photo {
  -webkit-transform: none;
          transform: none;
}

.is-visible .heading {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-photo, .heading {
  -webkit-transition: -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1), -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);

  will-change: transform;
}

.button1 {
  background-color: #f7e005; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: #4c9050; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@font-face {
  font-family: paintball;
  src: url(Paintball_Beta_4a.otf);
}

.center_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  
	<style>
      @font-face { font-family: paintball; src: url('Paintball_Beta_4a.otf'); } 
      h1, p, li, a {
         font-family: Paintball
      }
	  
.images {
            display: flex;
            flex-wrap: wrap;
            margin: 0 50px;
            padding: 30px;
        }
  
        .photo {
            max-width: 31.333%;
            padding: 0 10px;
            height: 240px;
        }
  
        .photo img {
            width: 100%;
            height: 100%;
        }
		
    </style>

